<!DOCTYPE html>
<html lang="en">

{{!-- main handlebars is the skeleton of the website, will show on every page  --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
    <header>
        <h1>Welcome to the Tech Blog!</h1>
    </header>

    <div>
        <nav>
            <a href="/">Home</a>

            <a href="/">Dashboard</a>

            <a href="/login">Login</a>
        </nav>
    </div>

    <div>
        <h2>Blog History</h2>
    </div>

{{!-- renders contents of sub layout --}}
    {{{ body }}}

</body>

</html>